<launch>
<!--
client_side.launch

This launch file is used exclusively with robot_side.launch
in the package proxemics_anytime_rrts.
The launch file consists of:
relay
octomap
rviz
-->


<arg name="in_odom" default="/odometry/filtered" />
<arg name="scan_topic" default="/scan" />
<arg name="overall_out_vel" default="/cmd_vel" />
<arg name="cloud_in" default="/camera/depth_registered/points" />


<!--**********Auxiliary planner ***************-->
<!--
Global planners:
Dijkstra: (blank, default)
AD*: SBPLLatticePlanner
ADRRT*: anytimeRRTs/AnytimeRRTsROS
Social Aware ADRRT*: proxemics_anytimerrts/ProxemicsAnytimeRRTs
lattice_planner (A*): lattice_planner/TBPlanner

Local Planners:
Dynamic Window Algorithm: dwa_local_planner/DWAPlannerROS
path follower: path_executer/PathFollower
Timed Elastic Band: teb_local_planner/TebLocalPlannerROS
Pose follower: pose_follower/PoseFollower
Time path follower: path_executer/PathFollower
-->
<arg name="global_planner" default="anytimeRRTs/AnytimeRRTsROS"/>
<arg name="local_planner" default="teb_local_planner/TebLocalPlannerROS" />
<!--if you want to use teb_local_planner, uncomment it here and set on the robot side arg no_teb to false-->
<remap from="/odom" to="$(arg in_odom)" />
<include file="$(find proxemics_anytimerrts)/launch/realBeebotLaunch/real_move_base.launch">
  <arg name="scan_topic" value="$(arg scan_topic)" />
  <arg name="global_planner" value="$(arg global_planner)" />
  <arg name="local_planner"  value="$(arg local_planner)" />
  <arg name="output_vel"     value="cmd_vel_mux/nav_cmd_vel" />
  <arg name="odom_in"        value="$(arg in_odom)" />
</include>
 


<!-- ******** Relay *********** -->
<!--Visualization and SLAM nodes use same data, so just subscribe once and relay messages -->
<node name="odom_relay" type="relay" pkg="topic_tools" args="/odom /odom_relay" />

<node name="scan_relay" type="relay" pkg="topic_tools" args="/scan /scan_relay" />

<node name="camera_info_relay" type="relay" pkg="topic_tools" args="camera/data_throttled_camera_info /camera/data_throttled_camera_info_relay" />

<node name="republish_rgb" type="republish" pkg="image_transport" args="theora in:=/camera/data_throttled_image raw out:=/camera/data_throttled_image_relay" />

<node name="republish_depth" type="republish" pkg="image_transport" args="compressedDepth in:=/camera//data_throttled_image_depth raw out:=/camera/data_throttled_image_depth_relay" />



<!--**********laser people detection *****-->
<include file="$(find proxemics_anytimerrts)/launch/gazebo_simulation/people_detection/laser_people_detector.launch" >
  <arg name="scan_topic" value="/scan" />
</include>
<!--
<include file="$(find proxemics_anytimerrts)/launch/gazebo_simulation/people_detection/people_tracking.launch" />

<include file="$(find proxemics_anytimerrts)/launch/gazebo_simulation/people_detection/group_tracking.launch" />
-->

<!-- ******* Optional: Octomap ******-->
<node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node">
  <param name="frame_id"         value="map" />
  <param name="base_frame_id"    value="base_link" />
  <remap from="cloud_in"         to="$(arg cloud_in)" />
</node>

<!--********** Rviz ************* -->
<arg name="rvizconfig" default="$(find proxemics_anytimerrts)/launch/rviz_config/human_aware_nav.rviz" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
