<launch>
   <!-- ****** launch motor driver ************* -->
   <!--<include file="$(find tobotdrivers)/launch/TobotDriver.launch"/>-->
   <arg name="robot_cfg" default="$(find simulation_tobot)/beebot_control/config/beebot_control.yaml"/>
   <rosparam file="$(arg robot_cfg)" command="load" />  <!--load driver parameters-->
   <node name="beebot_controller_spawner" 
         pkg="controller_manager" 
         type="spawner"
         args="beebot_joint_state_controller
          beebot_diff_drive_controller
          --shutdown-timeout 3"/>

   <!-- ******* launch robot tf frames ******* -->
   <include file="$(find proxemics_anytimerrts)/launch/my_start_tf_test.launch" />


   <!-- ********* Run a static transform between /base_link and /base_footprint needed for SLAM ********* -->
   <node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 -0.065 0 0 0 /base_link /base_footprint 100" />
</launch>
