<launch>
   <arg name="teleop" default="false"/>
   
   <!-- ******* launch robot tf frames ******* -->
   <include file="$(find proxemics_anytimerrts)/launch/my_start_tf_test.launch" />


   <!-- ********* Run a static transform between /base_link and /base_footprint needed for SLAM ********* -->
   <node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 -0.065 0 0 0 /base_link /base_footprint 100" />

   <!-- ****** launch motor driver ************* -->
   <include file="$(find tobotdrivers)/launch/TobotDriver.launch"/>

   <!--******* turn on laser range finder ******* -->
   <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node">
       <param name="frame_id" type="string" value="hokuyo_link" />
   </node>

   <!-- ****** turn on odometer ********** -->
   <node pkg="odom_base_pubisher" type="odom_base_pubisher_node" name="odom_base_pubisher_node"/>

   <!-- ******* Turn on teleoperation on keyboard ******* -->
   <group if="$(arg teleop)">
       <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard"/>
   </group>
        
   <!-- ******** Turn on Xtion ************ -->
   <include file="$(find openni2_launch)/launch/openni2.launch"/>



   <!-- ********* Data throttle ********* -->
   <arg name="cam_ns" default="camera" />
   <node pkg="nodelet" type="nodelet" name="data_throttle" args="load rtabmap/data_throttle camera_nodelet_manager" output="screen">
      <param name="rate" type="double" value="5.0" />
      <!--inputs-->
      <remap from="rgb/image_in"         to="$(arg cam_ns)/rgb/image_rect_color" />
      <remap from="depth/image_in"       to="$(arg cam_ns)/depth_registered/image_raw" />
      <remap from="rgb/camera_info_in"   to="$(arg cam_ns)/rgb/camera_info" />
      <!--outputs-->
      <remap from="rgb/image_out"        to="$(arg cam_ns)/data_throttled_image" />
      <remap from="depth/image_out"      to="$(arg cam_ns)/data_throttled_image_depth" />
      <remap from="rgb/camera_info_out"  to="$(arg cam_ns)/data_throttled_camera_info" />
   </node>
  
<!-- ******** SLAM *************-->
<include file="$(find mobile_safeguard_primitive)/launch/navigation/utils/SLAM/hector_slam.launch" >
  <arg name="scan_topic" value="/scan" />
</include>


</launch>
