<launch>

  <arg name="nodelet_manager_name" default="nodelet_manager" />


  <!--Velocity Smoother's settings-->
  <arg name="smoother_node_name"    default="velocity_smoother" />
  <arg name="config_file"           default="$(find proxemics_anytimerrts)/launch/gazebo_simulation/move_base/velocity_smoother_param.yaml"/>
  <arg name="raw_cmd_vel_topic"     default="cmd_vel_mux/output"/>              <!--subscribed topic -->
  <arg name="smooth_cmd_vel_topic"  default="/smooth_vel"/>                     <!--publish topic-->
  <arg name="robot_cmd_vel_topic"   default="cmd_vel_mux/output"/>              <!--subscribed topic-->
  <arg name="odom_topic"            default="odom"/>                            <!--subscribed topic-->



  <!-- ****** Nodelet manager ******** -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" />

  <!-- ***** cmd_vel_mux ************* -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet $(arg nodelet_manager_name)">
     <param name="yaml_cfg_file" value="$(find proxemics_anytimerrts)/launch/gazebo_simulation/move_base/cmd_vel_mux_minimal_with_safety.yaml" />
  </node>


  <!--******* Safety Controller ******* -->
  <include file="$(find proxemics_anytimerrts)/launch/gazebo_simulation/move_base/cob_collision_velocity_filter.launch" >
     <arg name="in_cmd_vel"  value="/cmd_vel_mux/nav_cmd_vel" />
     <arg name="out_cmd_vel" value="/cmd_vel_mux/cmd_vel_safety" />
  </include>

   <!-- ****Velocity Smoother (just regulate the overall output from cmd_vel_mux) ***** -->
  <node pkg="nodelet" type="nodelet" name="$(arg smoother_node_name)"
        args="load yocs_velocity_smoother/VelocitySmootherNodelet $(arg nodelet_manager_name)">
    <!-- parameters -->
    <rosparam file="$(arg config_file)" command="load"/>

    <!-- velocity commands I/O -->
    <remap from="$(arg smoother_node_name)/raw_cmd_vel"    to="$(arg raw_cmd_vel_topic)"/>
    <remap from="$(arg smoother_node_name)/smooth_cmd_vel" to="$(arg smooth_cmd_vel_topic)"/>

    <!-- Robot velocity feedbacks -->
    <remap from="$(arg smoother_node_name)/robot_cmd_vel"  to="$(arg robot_cmd_vel_topic)"/>
    <remap from="$(arg smoother_node_name)/odometry"       to="$(arg odom_topic)"/>
  </node>

</launch> 
